{% extends "layout.html" %}

 {% block body %}
    <h1>Completed services</h1>
    <table id="services_table">
            <tr>
                <td>Status</td>
                <td>Service ID</td>
                <td>Service Type</td>
                <td>Cost</td>
                <td>Dog Name</td>
                <td>Dog Breed</td>
                <td>Dog Age</td>
                <td>Owner</td>
                <td></td>
                <td></td>
            </tr>
        {% for service in all_completed_services %}
            <tr>
                <td>
                    {% if service['completed'] %}
                        <span id="service-completed">Completed</span>
                    {% else %}
                        <span id="service-in-progress">In Progress</span>
                    {% endif %}
                </td>
                <td>{{ service['id'] }}</td>
                <td>{{ service['type'] }}</td>
                <td>{{ service['cost'] }}</td>
                <td>{{ service['name'] }}</td>
                <td>{{ service['breed'] }}</td>
                <td>{{ service['age'] }}</td>
                <td>{{ service['full_name'] }}</td>
                <td><a href="/edit_service/{{service.id}}">Edit</a></td>
                <td><a href="/delete_service/{{service.id}}">Delete</a></td>
           </tr>
        {% endfor %}
    </table>
 {% endblock %}