<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Dog Gromming Business</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div id="app-header">
            <span><img id="dog-logo" src="{{ url_for('static', filename='img/dog-img.jpeg') }}" alt="logo"></span>
            <span><a href="/" id="app-title"><h1>Dog Gromming Business</h1></a></span>
        </div>
        <!-- Jinja templating code that we can redefine for other pages -->
        {% block body %}{% endblock %}
    </body>
</html>
